// Common
$themeColorCommonBtnPrimary: #02b757;
$themeColorCommonBtnPrimaryHover: #3FC679;
$themeColorCommonNavBg: #0074bd;
$themeColorCommonTextWithDarkBg: #ffffff;
$themeColorCommonInputBorder: #dddddd;
$themeColorCommonInputBorderFocus: #7ab4e6;
$themeColorCommonInputPlaceholder: #c5c5c5;

// Game Details

// Landing
$themeColorLandingFormBg: rgba(255,255,255,0.95);
$themeColorLandingFormTitle: #696969;
$themeColorLandingHeaderBg: rgba(0,0,0,0.35);
$themeColorLandingNavLinkBorderBottom: #ffffff;

