.gameDetails {
  padding: 15px;

  h1 {
    margin: 0;
  }

  h3, p {
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .universeDetails {
    margin-top: 35px;
  }
}