
.home {
  align-items: center;
  background: url(/images/search-bg.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  header {
    align-items: center;
    background-color: rgba(0,0,0,0.35);
    color: white;
    display: flex;
    height: 66px;
    justify-content: space-around;
    width: 100%;

    img {
      height: 36px;
      width: 36px;
    }

    nav {
      align-items: center;
      display: flex;

      &>* {
        margin: 0 2px;
        padding: 0 8px 2px 8px;
      }

      a {
        color: white;
        text-decoration: none;

        &:visited {
          color: inherit;
        }

        &.active {
          border-bottom: solid #ffffff 1px;
        }
      }
    }
  }

  .action {
    align-items: flex-start;
    display: flex;
    margin-top: 124px;

    img {
      background-size: auto 130px;
      height: 130px;
      margin-right: 40px;
      width: 457px;
      opacity: .99;
    }

    form {
      background-color: rgba(255,255,255,0.95);
      display: flex;
      flex-direction: column;
      padding: 15px;

      &>* {
       margin: 10px 0;
      }

      h3 {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.1;
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
      }

      input[type=text] {
        border-radius: 3px;
        border: solid #dddddd 1px;
        color: gray;
        font-size: 20px;
        line-height: 1.33;
        padding: 2px 5px;

        &:focus {
          border-color: lightblue;
        }

        &::placeholder {
          color: #c5c5c5;
        }
      }

      button {
        background-color: #02b757;
        border-radius: 3px;
        color: #ffffff;
        padding: 8px 0;

        &:hover {
          background-color: #3FC679;
        }
      }
    }
  }
}
